#
# Copyright (c) 2014-2015 Google, Inc.
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
# 1. Redistributions of source code must retain the above copyright notice,
# this list of conditions and the following disclaimer.
# 2. Redistributions in binary form must reproduce the above copyright notice,
# this list of conditions and the following disclaimer in the documentation
# and/or other materials provided with the distribution.
# 3. Neither the name of the copyright holder nor the names of its
# contributors may be used to endorse or promote products derived from this
# software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
# THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
# PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

choice
	prompt "Select target board"
	default ARCH_BOARD_CUSTOM
	---help---
		Select the board hosting the architure.  You must first select the
		exact MCU part number, then the boards supporting that part will
		be available for selection.  Use ARCH_BOARD_CUSTOM to create a new
		board configuration.

config ARCH_BOARD_ARA_BDB2A_SVC
	bool "ARA SVC in BDB2A"
	depends on ARCH_CHIP_STM32F407IG
	select ARCH_BOARD_ARA_SVC
	select SPI
	select SPI_OWNBUS
	select SPI_EXCHANGE
	select STM32_SPI1
	select SENSORS
	select INA230
	---help---
		The ARA SVC is based on the STMicro STM32F417IG microcontroller
		(ARM Cortex-M4 with FPU + crypto).
		This options selects the support for the SVC on the BDB2A
		development platform.
		This port uses a GNU Cortex-M4 toolchain (such as CodeSourcery).

config ARCH_BOARD_ARA_SDB_SVC
	bool "ARA SVC in SDB"
	depends on ARCH_CHIP_STM32F407IG
	select ARCH_BOARD_ARA_SVC
	select SPI
	select SPI_OWNBUS
	select SPI_EXCHANGE
	select STM32_SPI1
	select SENSORS
	select INA230
	---help---
		The ARA SVC is based on the STMicro STM32F417IG microcontroller
		(ARM Cortex-M4 with FPU + crypto).
		This options selects the support for the SVC on the SDB
		development platform, aka 'Software Dev Board'.
		This port uses a GNU Cortex-M4 toolchain (such as GCC ARM Embedded).

config ARCH_BOARD_ARA_DB3_SVC
	bool "ARA SVC on DB3"
	depends on ARCH_CHIP_STM32F446M
	select ARCH_BOARD_ARA_SVC
	select SPI
	select SPI_OWNBUS
	select SPI_EXCHANGE
	select STM32_SPI2
	---help---
		The ARA SVC is based on the STMicro STM32F4446MEY microcontroller
		(ARM Cortex-M4 with FPU + crypto).
		This options selects the support for the SVC on the DB3
		development platform.
		This port uses a GNU Cortex-M4 toolchain (such as GCC ARM Embedded).

config ARCH_BOARD_ARA_EVT1_SVC
	bool "ARA SVC on EVT1"
	depends on ARCH_CHIP_STM32F446M
	select ARCH_BOARD_ARA_SVC
	select SPI
	select SPI_OWNBUS
	select SPI_EXCHANGE
	select STM32_SPI2
	---help---
		The ARA SVC is based on the STMicro STM32F4446MEY microcontroller
		(ARM Cortex-M4 with FPU + crypto).
		This options selects the support for the SVC on the EVT1
		development platform.
		This port uses a GNU Cortex-M4 toolchain (such as GCC ARM Embedded).

config ARCH_BOARD_ARA_BRIDGE
	bool "Toshiba Bridge configuration"
	depends on ARCH_CHIP_TSB
	---help---
		Toshiba bridge

config ARCH_BOARD_CUSTOM
	bool "Custom development board"
	---help---
		Select this option if there is no directory for the board under configs/.

		Don't see the board you want?  You must first select the exact MCU part
		number, then the boards supporting that part will be available for selection.

endchoice

config ARCH_BOARD_ARA_SVC
	bool "Ara SVC support"
	select GPIO_DEBOUNCE
	select ARA_SVC_MAIN

config ARCH_BOARD_CUSTOM_DIR
	string "Custom board directory"
	depends on ARCH_BOARD_CUSTOM
	---help---
		If the custom board configuration is selected, then it is necessary
		to also tell the build system where it can find the board directory
		for the custom board. This may be either a relative path from the
		toplevel NuttX directory (like "configs/myboard") or an absolute path
		to some location outside of the NuttX source tree (like
		"~/projects/myboard").

config ARCH_BOARD
	string
	default "bdb"                 if ARCH_BOARD_BDB
	default "ara/bridge"          if ARCH_BOARD_ARA_BRIDGE
	default "ara/svc"             if ARCH_BOARD_ARA_SVC

comment "Common Board Options"

config ARCH_HAVE_LEDS
	bool

config ARCH_LEDS
	bool "Board LED support"
	default y
	depends on ARCH_HAVE_LEDS
	---help---
		Use board LEDs to show NuttX execution status state. Unique to boards that have LEDs

config ARCH_HAVE_BUTTONS
	bool

config ARCH_BUTTONS
	bool "Board button support"
	default n
	depends on ARCH_HAVE_BUTTONS
	---help---
		"Support interfaces to use buttons provided by the board."

config ARCH_HAVE_IRQBUTTONS
	bool

config ARCH_IRQBUTTONS
	bool "Button interrupt support"
	default n
	depends on ARCH_BUTTONS && ARCH_HAVE_IRQBUTTONS
	---help---
		"Support interrupts on button presses and releases."

config NSH_MMCSDMINOR
	int "MMC/SD minor number"
	default 0
	depends on NSH_LIBRARY && MMCSD
	---help---
		If board-specific NSH start-up logic needs to mount an MMC/SD device, then the setting should be provided to identify the MMC/SD minor device number (i.e., the N in /dev/mmcsdN).  Default 0

config NSH_MMCSDSLOTNO
	int "MMC/SD slot number"
	default 0
	depends on NSH_LIBRARY && MMCSD
	---help---
		If board-specific NSH start-up supports more than one MMC/SD slot, then this setting should be provided to indicate which slot should be used.  Default: 0.

config NSH_MMCSDSPIPORTNO
	int "MMC/SD SPI device number"
	default 0
	depends on NSH_LIBRARY && MMCSD && MMCSD_SPI
	---help---
		If board-specif NSH start-up logic will mount an SPI-based MMC/SD volume, then this setting may be needed to tell the board logic which SPI bus to use.  Default: 0 (meaning is board-specific).

comment "Board-Specific Options"

if ARCH_BOARD_ARA_BRIDGE
source "configs/ara/bridge/Kconfig"
endif

if ARCH_BOARD_ARA_SVC
source "configs/ara/svc/Kconfig"
endif
